<main role="main" class="container">
    <div class="row justify-content-md-center" style="margin-top: 50px">
        <div class="col-md-5">

            <div class="card border-secondary mb-3" style="max-width: 500px;">

                <div class="card-header">
                    <i class="fa fa-address-card" aria-hidden="true"></i> %s
                </div>
                <div class="card-header">
                    <i class="fa fa-envelope" aria-hidden="true"></i> %s
                </div>
                <div class="card-header text-success">
                        <i class="fa fa-shield" aria-hidden="true"></i> %s
                </div>
                <div class="card-body text-dark">
                    <a class="btn btn-danger btn-block text-light" href="controller/deconnexion.php">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> Deconnexion</a>
                </div>
            </div>
        </div>
    </div>
</main>