<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp3.Properties.Settings._2003Comptoir___CopySQLConnectionString"
            connectionString="Data Source=ME-PC\SQLEXPRESS;Initial Catalog=&quot;2003Comptoir - CopySQL&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp3.Properties.Settings.gestion_comptoirConnectionString"
            connectionString="Data Source=ME-PC\SQLEXPRESS;Initial Catalog=gestion_comptoir;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Gestion_comptoir.Properties.Settings.gestion_comptoirConnectionString"
            connectionString="Data Source=ME-PC\SQLEXPRESS;Initial Catalog=gestion_comptoir;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
