<style>
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand font-weight-bold" href="index.php">
        <img src="img/les_comptoirs_logo.png" width="40" height="40" alt=""> Les Comptoirs
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Client</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Fournisseurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Produits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Commandes</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Autre
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Importer un fichier Excel</a>
                </div>
            </li>
        </ul>

        <a class="btn btn-outline-light my-2 my-sm-0" href="index.php?p=connexion"><i class="fa fa-sign-in" aria-hidden="true"></i> Connexion</a>

    </div>
</nav>